<!DOCTYPE html>
<html ng-app='demoApp'>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,  initial-scale=1, maximum-scale=1.0, user-scalable=0"/>
	<title>Cars Showcase</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300italic,500italic,500,700,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div>
        <div class="header-bar">
            <div id="title-bar">
                <div id="logo">
                    <div id="logo-image">
                        <img src="images/logo.png">
                    </div>
                </div>
                <div id="navigation">
                    <ul>
                        <li>X</li>
                        <li>Y</li>
                        <li>Z</li>
                    </ul>
                </div>
            </div>
        </div>
        <div ng-controller='carsController as cars' class="car-view">
            <div class="content">
                <div id="filters">
                    <div id="price-filter">
                        <div>Price</div>
                        <div>
                            <span>Upto &#8377; {{cars.priceRange}}</span>
                            <input id="myRange" type="range" name="priceRange" ng-model='cars.priceRange' step='100000' ng-change='cars.filterByPrice(cars.priceRange)'>
                        </div>
                        <div>
                            <span>&#8377; {{cars.minPrice}}</span>
                            <span>&#8377; {{cars.maxPrice}}</span>
                        </div>
                    </div>
                    <div class="checkbox-filters">
                        <div>Year</div>
                        <div>
                            <div id="check-boxes" ng-repeat='year in cars.years' ng-click='cars.filterByYear(year)'>
                                <div>
                                    <span>{{year}}</span>
                                </div>
                                <div>
                                    <input type="checkbox" id="year{{$index}}" name="year" ng-checked='cars.activeYears.indexOf(year) >= 0'>
                                    <label for="year{{$index}}"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="checkbox-filters">
                        <div>Make</div>
                        <div>
                            <div ng-repeat='make in cars.makes' ng-click='cars.filterByMake(make)'>
                                <div>
                                    <span>{{make}}</span>
                                </div>
                                <div>
                                    <input type="checkbox" id="make{{$index}}" name="make" ng-checked='cars.activeMakes.indexOf(make) >= 0'>
                                    <label for="make{{$index}}"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="all-cars">
                    <div ng-repeat='car in cars.data | carsFilter:cars.filterObject track by $index' class="about-car">
                        <div class="car-image">
                            <img ng-src="{{car.imageUrl}}">
                        </div>
                        <div class="car-details">
                            <div class="car-make">
                                <div><span>Manufacturer</span></div>
                                <div><span>{{car.make + ' ' + car.model}}</span></div>
                            </div>
                            <div class="car-year">
                                <div><span>Year</span></div>
                                <div><span>{{car.year}}<span></div>
                            </div>
                            <div class="car-price">
                                <div><span>Price</span></div>
                                <div><span>&#8377; {{car.price}}</span></div>
                            </div>
                        </div>
                    </div>
<!--                     <div id="no-cars" ng-hide='cars.carsFound'>
                        <span>Sorry, no cars found!</span>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <script src="lib/jquery.js"></script>
    <script src="lib/angular.js"></script>
    <script type="text/javascript" src="scripts/app.js"></script>
    <script type="text/javascript" src="scripts/controllers.js"></script>
    <script type="text/javascript" src="scripts/filters.js"></script>
</body>